<!--  -->
{{#each post}}
<h1>{{title}}</h1>
<h2>{{text}}</h2>
<h2>{{createdAt}}</h2>
<h2>Created by userId: {{userId}} </h2>
<br>
<h3>Add a new comment</h3>
<form class="new-comment-form">
    <input type="hidden" value={{id}} id="post-id">
    <textarea id="comment-text"> </textarea>
    <button type="submit">Submit Comment</button>
</form>
{{/each}}

<form class="new-post-form">
        <div class="container">
            <label for="post-title">New Post Title</label>
            <input  type="text" placeholder="Enter Post Title"  id="post-title"/>
            <label >Text</label>
            <input type="text" placeholder="Enter Post Text"  id="post-text"/>
            <button type="submit">SUBMIT NEW POST</button>
        </div>
    </form>

<script src="./js/homepage.js"></script>
<script src="./js/comment.js"></script>